body{
    background-color: blue;
    color: white;
}
h1{
    text-align: center;
    font-size: 2em;
}

/* styles.css */
.image-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image-container img {
    max-width: 100%;
    height: auto;
    width: 45%;
}


.button-container {
    text-align: left; /* Centers the button */
}

.button-container button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.button-container button:hover {
    background-color: #45a049;
}
.chai-item{
    .chai-item {
        display: flex;
        flex-direction: column;
        justify-content: center; /* Vertically center */
        align-items: center; /* Horizontally center */
        text-align: center;
        margin: 20px;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        width: 200px; /* Adjust width as per your layout */
      }
    

  .chai-item img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
  }

  .chai-item h3 {
    margin-top: 10px;
  }
}